body {
    margin: 0;
    padding: 0;
    background: #000;
}
/*
p {
   font-size: 12px;
   line-height: 8px;
   text-align: justify;
   -webkit-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center; 
   background: url(MAYANG.jpg) no-repeat center center;
   background-attachment: fixed;
   -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255, 0);
}
*/

#animatedText {
    font-size: 12px;
    line-height: 8px;
    text-align: justify;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }
 


/* Music Player Styles */
  .music-player h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
  }

  .music-player button {
    background: #4CAF50;
    color: white;
    border: none;
    width: 300px;             /* fixed width para mas lapad */
    height: 70px;             /* taas gamay para mas dako */
    border-radius: 50px;
    font-size: 22px;           /* mas dako nga font */
    font-weight: bold;          /* bold nga font */
    cursor: pointer;
    transition: 0.3s;

    display: block;             
    margin: 20px auto;         /* center horizontally + gamay spacing sa taas/ubos */
}


  .music-player button:hover {
    background: #45a049;
  }

  